<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      {% include social_media_links.html size='large' %}
      <div>The <a href="https://github.com/marguerite-p/marguerite-p.github.io" target="_blank">source code</a> is licensed <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>.</div>
      <div>The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>.</div>
      <div>Made with <span class="footer-heart">❤</span> by <a href="https://github.com/known-as-bmf" target="_blank">known-as-bmf</a> &mdash; Crédit photo <a href="https://www.fersuarezphoto.com/" target="_blank">Fer Suarez</a>.</div>
    </div>
  </div>
</footer>
<!-- Scripts -->
<script>
  window.lazyLoadOptions = {
      /* your lazyload options */
  };
</script>
<script async type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.4.2/dist/lazyload.min.js"></script>
