<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      {% include social_media_links.html size='large' %}
      <div>{{ site.author }}</div>
      <div>The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.</div>
      <div>The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>.</div>
    </div>
  </div>
</footer>
<!-- Scripts -->
<script>
  window.lazyLoadOptions = {
      /* your lazyload options */
  };
</script>
<script async type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.4.2/dist/lazyload.min.js"></script>
