<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include seo.html %}

  <!-- Article feed -->
  {% feed_meta %}

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Signika|Varela+Round" rel="stylesheet">

  <!-- Styles -->
  <link type="text/css" rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-minima.css" />

  <!-- Scripts -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.4.1/lazyload.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

  <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}" defer></script>

  <!-- Browser styling & icons -->
  <meta name="theme-color" content="#ff3838">
</head>
