<div class="post-preview">
    <a href="{{ post.url }}">
      <figure class="image">
        <img src="http://via.placeholder.com/600x400" alt="{{ post.title }}">
      </figure>
      <h2 class="is-smallcaps is-size-5 has-text-centered">{{ post.title }}</h2>
      {% if include.show_excerpt %}
      {% assign description = post.meta-description | default: post.excerpt | strip_html | normalize_whitespace | truncate: 100 | escape %}
      <p>{{ description }}</p>
      {% endif %}
    </a>
  </div>
