/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}

.navbar {
  border-bottom: 1px solid $white-ter;

  &-menu .is-active {
    font-weight: 600;
  }

  &-brand &-item {
    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}

.is-signika {
  font-family: $signika-font;
}

.is-varela-round {
  font-family: $varela-round-font;
}

.is-varela {
  font-family: $varela-font;
}

.is-smallcaps {
  font-variant: small-caps
}

.content {
  figure.image {
    margin: 0 0 1em 0;
    img {
      display: block;
    }
  }
}

figure.image {
  .is-credits {
    color: $grey-light;
    font-size: 1rem;
  }
}

$emoji-size: 20px;
.emoji {
  vertical-align: top;
  vertical-align: calc((1rem / 2) - ($emoji-size / 2));
}

.is-overlay-container {
  position: relative;
}

.is-direction-column {
  flex-direction: column;
}

.is-reversed-tablet {
  @include tablet {
    flex-direction: row-reverse;
  }
}

$icon-dimensions-xlarge: 4rem;
.icon {
  &.is-xlarge {
    height: $icon-dimensions-xlarge;
    width: $icon-dimensions-xlarge;
  }
}

img:not([src]) {
  visibility: hidden;
}
/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

.content {
  h1,
  h2,
  h3 {
    @extend .is-signika;
  }

  p {
    text-align: justify;
  }
}

.index {
  &-header {
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    padding: 1rem;

    &__quote {
      color: $socio-jam-red;
      font-size: 5em;
      line-height: 1;
      &:first-child {
        padding-right: 1rem;
      }
      &:last-child {
        padding-left: 1rem;
      }
    }

    h1 {
      letter-spacing: 1px;
    }
  }

  &-title {
    align-items: center;
  }

  &-page {
    &__image {
      @include tablet {
        max-width: 300px;
      }
    }

    &__text {
      justify-content: center;

      // p {
      //   text-align: justify;
      // }

      .button {
        align-self: center;
        margin-bottom: 1em;
        &:last-child {
          @extend .is-marginless;
        }
      }
    }
  }
}

.post-preview {
  a {
    color: unset; // remove link color form preview text
  }

  &__excerpt {
    font-size: 0.9rem;
  }
}

.overlay {
  &-image {
    &__overlay {
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.6;
      }

      .is-black-on-white > & {
        background-color: $white;
      }

      .is-white-on-black > & {
        background-color: $black;
      }
    }

    &__text {
      padding: 1.5rem;
      pointer-events: none;

      @include tablet {
        justify-content: center;
        align-items: flex-end;

        .is-reversed-tablet & {
          align-items: flex-start;
        }
      }

      // @include mobile {
      //   justify-content: center;
      // }

      * {
        pointer-events: auto;
      }

      .is-black-on-white > & {
        color: $black;
      }

      .is-white-on-black > & {
        color: $white;
      }
    }
  }
}

.about {
  &-portrait {
    margin-bottom: 1.5rem;
  }

  &-headline,
  &-main {
    padding: 1rem;
  }

  &-text {
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
}

.blog {
  &-headline {
    padding: 1rem;
  }

  &-categories {
    margin-bottom: 2rem;
  }

  &-category__latest,
  &-latest {
    .columns{
      margin: 0;
    }
  }

  &-category,
  &-latest {
    &__title {
      padding: 1rem;
      text-align: center;
    }
    &__more {
      text-align: center;
    }
  }
}

.post {
  &-main {
    margin: 0;
  }
}

.title {
  @extend .is-smallcaps;
  @extend .is-varela;
  letter-spacing: 1px;
}

.article {
  &-head {
    padding-bottom: 1em;
  }
  &-title {
    margin-bottom: 0.5rem;
  }
  &-date {
    color: $grey-light;
  }
  &-comments {
    margin-top: 1rem;
  }
  &-body {
    .is-chapo {
      @extend .is-varela-round;
      color: $black;
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 1rem;
    }
  }
}

.social-media a {
  color: $grey-light;

  &:hover {
    color: $link-hover;
  }
}

.redaction,
.cm {
  &-portrait {
    margin-bottom: 1.5rem;
  }

  &-main {
    padding: 1rem;
  }
}

.footer {
  &-heart {
    color: $turquoise;
  }
}
