@import 'bulma/utilities/initial-variables';

// fonts
$signika-font: 'Signika', sans-serif;
$varela-round-font: 'Varela Round', sans-serif;
$varela-font: 'Varela', sans-serif;

// accent color
$socio-jam-red: hsl(0, 100%, 61%);
// replace turquoise with red. Ugly but... meh !
$turquoise: $socio-jam-red;

$content-heading-color: $socio-jam-red;

$family-sans-serif: $varela-round-font;

$text-size: 16px;
$fa-font-size-base: $text-size;
$body-size: $text-size;

$title-size: $size-1;
$title-weight: $weight-medium;

$section-padding: 1.5rem 0 3rem 0;
$container-gap-factor-fullhd: 4;

// navbar customization
$navbar-height: 4rem;
$navbar-item-img-max-height: 3.25rem;

$normal-color: $black;
$normal-background-color: $white;
$active-color: $black;
$active-background-color: $white-ter;

$navbar-background-color: $normal-background-color;
$navbar-item-color: $normal-color;

$navbar-item-hover-color: $active-color;
$navbar-item-hover-background-color: $active-background-color;
$navbar-item-active-color: $active-color;
$navbar-item-active-background-color: $active-background-color;

$navbar-dropdown-background-color: $normal-background-color;
$navbar-dropdown-arrow: $normal-color;

$navbar-dropdown-item-hover-color: $active-color;
$navbar-dropdown-item-hover-background-color: $active-background-color;
$navbar-dropdown-item-active-color: $active-color;
$navbar-dropdown-item-active-background-color: $active-background-color;

$menu-item-color: $normal-color;
$menu-item-hover-color: $active-color;
$menu-item-hover-background-color: none;
$menu-item-active-color: $active-color;
$menu-item-active-background-color: $active-background-color;
