---
title: Qui suis-je ?
nav: about
order: 0

meta_title: Marguerite Pometko – Qui suis-je ?
meta_description: Passionnée par les relations sciences-société, j'organise des débats, j'anime des projets et je rédige des articles sur les enjeux des sciences et techniques. 
---

<div class="about-portrait">
  <figure class="image">
    <img src="{{ '/assets/images/marguerite-pometko-portrait.jpg' | relative_url }}" alt="{{ site.author }}, rédacteur web">
  </figure>
</div>

<div class="about-headline has-text-centered">
  <h1 class="title is-size-3 has-text-weight-bold">Hello ! Moi c'est Marguerite !</h1>

  <p class="has-text-centered"><strong>Passionnée par les relations sciences-société, j'organise des débats, je mène des projets, et j'écris sur les enjeux des sciences et techniques. Aujourd'hui, je travaille comme cheffe de projet du parcours sciences-société <a href="https://citizencampus.univ-grenoble-alpes.fr/" target="_blank">CitizenCampus</a> à l'Université Grenoble-Alpes, un cursus étudiant inédit de formation au débat public par la pratique</strong>.</p>
</div>

<div class="about-main content">
  <h2>Mais comment en suis-je arrivée là ?</h2>

  <p>J’ai toujours nourri de multiples passions. Résultat : à la sortie du lycée, je n’arrivais pas à choisir une voie
  unique. J’ai donc intégré <strong>Sciences Po</strong> dans mes chères Alpes grenobloises.
  En licence, sensible aux questions sociales et à l’environnement, je me spécialise en
  économie sociale et solidaire et en politiques d’énergie et de climat. J’intègre ensuite le <strong>Master
  « Techniques, Sciences et Décisions »</strong>, où je suis des enseignements relatifs aux nouvelles
  technologies et leurs enjeux dans les domaines de l’énergie, de l’environnement, de l’information et
  de la santé, ainsi qu’à l’action publique en matière de recherche.</p>

  <h2>Là où tout a commencé : robots et médiation scientifique</h2>

  <p>En 2016, j'ai une expérience comme <strong>assistante muséographe au sein du Centre de Culture Scientifique
  Technique et Industrielle <a href="https://lacasemate.fr/" target="_blank">La Casemate</a></strong>.
  Autour d’une exposition sur nos relations sociales aux robots, j'interview des chercheurs et artistes, je rédige les textes de l’exposition et participe
  à la médiation avec le public et la presse. Mes rencontres avec les <em>makers</em> du FabLab me rendront
  sensible aux questions d’<em>opensource</em> et d’appropriation des technologies par les citoyens.</p>

  <h2>Mon amour des langues et des programmes ARTE</h2>

  <p>En 2017, ma fibre européenne et mon intérêt pour les médias, m’amènent à travailler comme
  <strong>éditrice et curatrice de contenus web pour l’offre Sciences d’ARTE</strong>. Je conclus cette expérience
  par un mémoire sur les défis du numérique pour les médias traditionnels. Aujourd’hui, je parle
  couramment le <strong>français</strong>, le <strong>russe</strong> (langues natales),
  l’<strong>allemand</strong> (courant et professionnel) et l’<strong>anglais</strong> (professionnel).</p>

  <h2>Mon expérience de rédactice freelance</h2>

  <p>En 2017, j’allie mes passions pour la technologie et la mode en travaillant
  comme <strong>rédactrice et community manager pour <a href="http://modelab.fr/" target="_blank">Modelab</a></strong>, média sur la <em>fashiontech</em> et les innovations dans le domaine de la mode. Cette expérience me persuade alors de tenter l’aventure de <em>freelance</em>, que j'exerce en 2018.</p>

  <h2>Organisatrice et facilitatrice de débats publics</h2>

  <p>En 2018, je rejoins aussi l'équipe des <a href="  https://www.echosciences-grenoble.fr/communautes/cafe-sciences-et-citoyens-de-l-agglomeration-grenobloise" target="_blank">Cafés Sciences et Citoyens de l'Agglomération Grenobloise</a>, où je suis en charge des réseaux sociaux et de préparer des débats. En avril, on me propose le poste de <strong>Cheffe de projet <a href="https://citizencampus.univ-grenoble-alpes.fr/" target="_blank">CitizenCampus</a></strong>. Ce parcours est un cursus inédit et complémentaire, destiné à initer les étudiants au débat public sur des enjeux sciences-société par la pratique. Une grande part de mon travail relève de l'<strong>ingénierie pédagogique</strong> et j'organise les conditions opérationnelles pour réaliser les 7 sessions thématiques de l'année.</p>

  <h2>Et sinon ?</h2>

  <p>Dans mon temps-libre, vous me trouverez en train d’écrire pour mon
  <strong><a href="http://jamandjones.com/" target="_blank">blog de mode vintage et alternative</a></strong>, à siroter du thé sur le replay
  d’ARTE ou à écouter des podcasts. Pour me détendre et me défouler, je pratique le yoga
  et l’art martial du Jeet Kune Do. Je suis aussi une grande adepte de cuisine végétarienne et de concerts
  de rock. Mais assez parlé de moi, faisons vite connaissance !</p>
  </div>
  
<div class="about-headline has-text-centered">
  <h1 class="title is-size-3 has-text-weight-bold">Ce qui me passionne – mes thématiques de prédilection</h1>
  <span></span>
</div>

<div class="about-interests columns is-gapless is-multiline">
  <div class="about-interest column is-full columns">
    {% assign category = site.data.categories | where: 'name', 'science' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
        url=category.image
        title=category.title %}
    </div>
    <div class="about-text column is-half is-flex is-direction-column content">
      <p>
        C’est un peu fou, mais c’est justement parce que je n’ai pas de vrai background scientifique et
        technique que ces questions m’intéressent tant. Désespérée de ne pas comprendre comment
        fonctionne mon smartphone ou les secrets de l’infiniment petit, j’ai voulu questionner le monde qui
        m’entoure pour ne plus avoir à subir ce sentiment d’être « dépassée par la technologie ». Cela
        explique pourquoi je suis très sensible à des thématiques comme les relations homme-machine, la
        médiation de culture scientifique, l’appropriation des techniques par les citoyens et leur participation au débat sur ces enjeux. Aujourd’hui, avec mon profil en sciences humaines, <strong>je porte un regard sociologique
        sur les innovations, et me penche sur leurs implications éthiques, politiques et sociales</strong>.
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a class="button is-primary" href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
  <div class="about-interest column is-full columns is-reversed-tablet">
    {% assign category = site.data.categories | where: 'name', 'environnement' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
        url=category.image
        title=category.title
        text_align='left' %}
    </div>
    <div class="about-text column is-half is-flex is-direction-column content">
      <p>
        Voilà un bien large sujet qui me tient à cœur ! Écolo dans l’âme, je m’intéresse surtout aux <strong>initiatives individuelles et locales</strong>, en menant des interview d'acteurs engagés dans ma ville. Je
        suis surtout de près l’actualité des acteurs de l’économie sociale et solidaire, qui recèle selon moi un
        important potentiel de changement vers une économie plus locale et centrée sur le bien-être. 
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a class="button is-primary" href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
  <div class="about-interest column is-full columns">
    {% assign category = site.data.categories | where: 'name', 'mode' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
        url=category.image
        title=category.title %}
    </div>
    <div class="about-text column is-half is-flex is-direction-column content">
      <p>
        Mon penchant pour les tech et l’écologie ne m’a pas empêchée de nourrir une passion pour les arts,
        la mode et la culture. Je souhaite mettre fin à cette idée reçue selon laquelle la mode ne serait que le
        panache de personnes vaniteuses et légères d’esprit ! Cependant, je penche pour une autre mode,
        moins dominée par les codes américains et plus respectueuse de l’environnement. Je suis cofondatrice
        du blog de mode vintage et alternative <a href="http://jamandjones.com/" target="_blank">Jam&amp;Jones</a> et de la communauté de blogueurs
        <a href="https://www.facebook.com/groups/fashionoddity" target="_blank">Fashion Oddity</a>. Je contribue aussi à Modelab, média de référence sur la fashiontech, qui explore les
        croisements entre la mode et la technologie. Cette rubrique traitera donc essentiellement de <strong>mode,
        d’art et de culture, mais toujours avec un penchant underground</strong>.
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a class="button is-primary" href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
</div>
