---
title: Qui suis-je ?
nav: about
order: 0
---

<div class="about-portrait">
  <figure class="image">
    <img src="{{ '/assets/images/marguerite-pometko-portrait.jpg' | relative_url }}" alt="{{ site.author }}, rédacteur web">
  </figure>
</div>

<div class="about-headline content">
  <h1>Bonjour, moi c’est {{ site.author }}, rédactrice web freelance à Grenoble !</h1>

  <p><strong><em>On dit de moi que je suis curieuse, créative et polyvalente. Une chose est sûre : j’adore les
  nouveaux défis. Aujourd’hui je décide de lancer mon entreprise de rédaction web et réseaux
  sociaux freelance pour vivre de ma passion et faire de belles rencontres.</em></strong></p>
</div>

<div class="about-main content">
    <h2>Mais comment en suis-je arrivé là ?</h2>

    <p>J’ai toujours été très touche-à-tout. Résultat : à la sortie du lycée, je n’arrivais pas à choisir une voie
    unique. J’ai donc intégré <strong>Sciences Po</strong> dans mes chères Alpes grenobloises : une formation
    généraliste, mais qui m’a apporté une culture générale en béton et développé ma curiosité
    intellectuelle. En licence, sensible aux questions sociales et à l’environnement, je me spécialise en
    économie sociale et solidaire et en politiques d’énergie et de climat. J’intègre ensuite le master
    « Techniques, Sciences et Décisions », où je suis des enseignements relatifs aux nouvelles
    technologies et leurs enjeux dans les domaines de l’énergie, de l’environnement, de l’information et
    de la santé, ainsi qu’à l’action publique en matière de recherche.</p>

    <h2>Là où tout a commencé: robots et médiation scientifique</h2>

    <p>En 2016, je me prends de passion pour la <strong>communication de culture scientifique</strong> suite à une
    expérience professionnelle d’<strong>assistante muséographe au sein du centre de culture scientifique
    technique et industrielle <a href="">La Casemate</a></strong>. Autour d’une exposition sur nos relations sociales aux
    robots, je rédige les textes de l’exposition et participe à la médiation avec le public et la presse. Mes
    rencontres avec les <em>makers</em> du FabLab me rendront sensible aux questions d’<em>opensource</em> et
    d’appropriation des technologies par les citoyens.</p>

    <h2>Mon amour des langues et des programmes ARTE</h2>

    <p>En 2017, ma fibre européenne et mon intérêt pour les médias, m’amènent à travailler comme
    <strong>éditrice et curatrice de contenu web pour l’offre Sciences d’ARTE</strong>. Je conclus cette expérience
    par un mémoire sur les défis du numérique pour les médias traditionnels. Aujourd’hui, je parle
    couramment le <strong>français</strong>, le <strong>russe</strong> (langues natales), l’<strong>anglais</strong> (professionnel) et l’<strong>allemand</strong> (bac
    franco-allemand).</p>

    <h2>La consécration: Comment j’ai « fini » freelance</h2>

    <p>Je m’intéresse particulièrement, aux croisements entre plusieurs disciplines (arts/sciences,
    mode/technologie…). Cette année, j’allie mes passions pour la technologie et la mode en travaillant
    comme <strong>rédactrice et community manager pour <a href="">Modelab</a></strong>, média web et papier de référence sur la
    <em>fashiontech</em>. Cette expérience me persuade de tenter l’aventure de <em>freelance</em>, tout en restant ouverte
    aux opportunités salariales en communication et animation de projets scientifiques.</p>

    <h2>Et sinon ?</h2>

    <p>Dans mon temps-libre, vous me trouverez en train d’écrire pour mon blog de mode vintage et
    alternative, à siroter du thé sur le replay d’ARTE ou à écouter des podcasts de France Inter. Pour me
    détendre et me défouler, je pratique le yoga et l’art martial du Jeet Kune Do. Je suis aussi une
    grande adepte de cuisine végétarienne et de concerts de rock (Qui a dit que les deux n’étaient pas
    compatibles ? :wink: ). Mais assez parlé de moi, faisons vite connaissance !</p>

    <!-- > Parlez-moi de vous et de vos projets dans l’onglet contact ! <
    > télécharger mon CV <
    Ce qui me passionne – mes thématiques de prédilection : -->
</div>

<div class="about-interests columns is-gapless is-multiline">
  <div class="about-interest column is-full columns">
    {% assign category = site.data.categories | where: 'name', 'science' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
        url=category.image
        title=category.title %}
    </div>
    <div class="about-text column is-half is-flex is-column content">
      <p>
        C’est un peu fou, mais c’est justement parce que je n’ai pas de vrai background scientifique et
        technique que ces questions m’intéressent tant. Désespérée de ne pas comprendre comment
        fonctionne mon smartphone ou les secrets de l’infiniment petit, j’ai voulu questionner le monde qui
        m’entoure pour ne plus avoir à subir ce sentiment d’être « dépassée par la technologie ». Cela
        explique pourquoi je suis très sensible à des thématiques comme les relations homme-machine, la
        médiation de culture scientifique, l’appropriation des techniques par les citoyens et la science
        participative. Aujourd’hui, avec mon profil en sciences humaines, je porte un regard sociologique
        sur les innovations, et me penche sur leurs implications éthiques, politiques et sociales.
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
  <div class="about-interest column is-full columns is-reversed-tablet">
    {% assign category = site.data.categories | where: 'name', 'environnement' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
        url=category.image
        title=category.title
        text_align='left' %}
    </div>
    <div class="about-text column is-half is-flex is-column content">
      <p>
        Voilà un bien large sujet qui me tient à cœur ! Écolo dans l’âme, je m’intéresse tout aussi bien aux
        traités internationaux, aux plans climat-air-énergie territoriaux, qu’aux initiatives individuelles. Je
        suis surtout de près l’actualité des acteurs de l’économie sociale et solidaire, qui recèle selon moi un
        important potentiel de changement vers une économie plus locale et centrée sur le bien-être. Pour
        vous donner une idée des thématiques que comportera cette rubrique : climat, transition
        énergétique, lutte contre la pollution, recyclage, biodiversité, agriculture raisonnée, circuits-courts,
        alimentation bio et végétale…
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
  <div class="about-interest column is-full columns">
    {% assign category = site.data.categories | where: 'name', 'mode' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
        url=category.image
        title=category.title %}
    </div>
    <div class="about-text column is-half is-flex is-column content">
      <p>
        Mon penchant pour les tech et l’écologie ne m’a pas empêchée de nourrir une passion pour les arts,
        la mode et la culture. Je souhaite mettre fin à cette idée reçue selon laquelle la mode ne serait que le
        panache de personnes vaniteuses et légères d’esprit ! Cependant, je penche pour une autre mode,
        moins dominée par les codes américains et plus respectueuse de l’environnement. Je suis cofondatrice
        du blog de mode vintage et alternative <a href="">Jam&amp;Jones</a> et de la communauté de blogueurs
        Fashion Oddity. Je contribue aussi à Modelab, média de référence sur la fashiontech, qui explore les
        croisements entre la mode et la technologie. Cette rubrique traitera donc essentiellement de mode,
        d’art et de culture, mais toujours avec un penchant underground.
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
</div>
