---
title: Qui suis-je ?
nav: about
order: 0

meta_title: Marguerite Pometko – Qui suis-je ?
meta_description: Coach en bien-être numérique, chargée de projets culturels et pédagogiques, rédactrice et organisatrice de débats.
---

<div class="about-portrait">
  <figure class="image">
    <img src="{{ '/assets/images/marguerite-pometko-portrait.jpg' | relative_url }}"
      alt="{{ site.author }}, rédacteur web">
  </figure>
</div>

<div class="about-headline has-text-centered">
  <h1 class="title is-size-3 has-text-weight-bold">Hello ! Moi c'est Marguerite !</h1>

  <p class="has-text-centered"><strong>Chargée de projets culturels et pédagogiques, coach en bien-être numérique et organisatrice de débats</strong></p>
</div>

<div class="about-main content">
  <h2>A propos</h2>

  <p>Aujourd’hui expatriée à Berlin, j’ai grandi dans les Alpes grenobloises, région d’innovation et de culture
    écologique, mais aussi de centres technologiques high-tech.</p>

  <p>Ne me destinant pas à des études d’ingénieur ou de scientifique, cela ne m’a pas empêchée de questionner le monde
    qui m’entoure, n’aimant pas l’idée de me laisser « dépasser par la technologie ». </p>
  <P>En 2015, j’intègre le master <Em>Techniques, Sciences et Décisions</Em> à Sciences Po Grenoble, où je suis des
    enseignements relatifs aux <strong>enjeux des nouvelles technologies, ainsi qu’à l’action publique en matière
      d’enseignement et de recherche</strong>. En parallèle, je m’engage activement au sein de l’association des
    <strong>Cafés Sciences et Citoyens de Grenoble</strong>.
  </p>

  <p>Depuis, avec mon profil en sciences humaines, je me penche sur les innovations, et leurs implications éthiques,
    politiques et sociales.</p>

  <h2 class="about-experience">Mon parcours</h2>

  <ul class="about-experience__list">
    <li>En 2016 : pour une exposition au CCSTI <a href="https://lacasemate.fr/" target="_blank">La Casemate</a>, je
      questionne nos relations sociales aux robots et je fais la rencontre des <Em>makers</Em> du Fab Lab, qui me
      rendront
      sensible aux questions d’<em>opensource</em> et d’appropriation des technologies par les citoyens.</li>


    <li>En 2017, je suis <strong>éditrice et curatrice de contenus web</strong> pour l’offre Sciences, Technologies et
      Environnement d’<strong>ARTE Strasbourg</strong>. J’y rédige un mémoire sur les défis du numérique pour les médias
      traditionnels.</li>

    <li>La même année, je travaille comme <strong>rédactrice web</strong> pour <a href="https://modelab.fr/"
        target="_blank">Modelab</a>, un magazine sur la <em>FashionTech</em> qui explore les innovations dans le domaine
      de la mode. </li>

    <li>En 2018, mon goût pour l’écriture me motive à me lancer à mon compte comme rédactrice web freelance. C’est
      ainsi
      que nait le site <strong>Socio-Jam</strong>, qui me sert aujourd’hui principalement de blog.</li>

    <li>La même année, je suis embauchée comme <strong>cheffe de projet pédagogique <a
          href="http://www.socio-jam.com/blog/2018/05/citizencampus.html" target="_blank">CitizenCampus</a></strong>, un
      cursus inédit de découverte des enjeux sciences-société par la pratique du débat à l’Université Grenoble Alpes. Au
      sein de l’équipe des ingénieurs pédagogiques, j’explore de nouvelles façons d'enseigner et d'apprendre. </li>

    <li>En 2020 et 2021, je suis <strong>chargée de mission pédagogique</strong> en Allemagne pour la France. Je coordonne 4 programmes éducatifs à l'échelle fédérale (autour
      de la musique, de la littérature, du cinéma et de la BD) et j’anime un webinaire par mois de formation continue
      pour les forces enseignantes de français en Allemagne.
    </li>

    <li>En septembre 2021, je rejoins la formation  <a href="https://www.consciously-digital.com/coaches" target="_blank">Consciously Digital</a></strong> pour devenir <strong>coach en bien-être numérique</strong> et aider les individus, les écoles et les entreprises à trouver un équilibre dans leurs usages des technologies numériques.
    </li>
  </ul>

  <h2>Mes valeurs</h2>

  <p>J'ai une forte éthique de travail, ce qui ne m'empêche pas d'accorder une grande importance à l'équilibre vie privée et professionnelle. Travailler moins pour vivre mieux ? Prendre du temps
    pour soi et pour s’engager ? Je suis intimement convaincue que <strong>c'est d'abord en s'épanouissant comme humain et comme
    citoyen que l'on trouve les ressources pour libérer sa créativité sur le plan professionnel !</strong> </p>

  <h2>Ce qui me fait vibrer ❤</h2>

  <p>Dans mon temps-libre, je me promène pour découvrir les coins insolites de Berlin, où je me suis installée en août
    2020 (il fallait bien mettre ces 12 ans d'allemand à profit 😉). Pour me défouler, je pratique le yoga, la course à
    pied, et l'art martial du Jeet Kune Do.
    Passionnée d'histoire et de sociologie de la mode, j'anime régulièrement <a
      href="https://www.facebook.com/groups/fashionoddity/" target="_blank">Fashion Oddity</a>, la communauté des
    amateurs de mode vintage et alternative que j'ai fondée avec ma compère du site <a href="http://jamandjones.com/"
      target="_blank">Jam&Jones</a>. Je suis aussi une grande adepte de cuisine végétarienne. Mais assez parlé de moi, faisons vite connaissance !</p>
</div>

<div class="about-headline has-text-centered">
  <h1 class="title is-size-3 has-text-weight-bold">Ce qui me passionne – mes thématiques de prédilection</h1>
  <span></span>
</div>

<div class="about-interests columns is-gapless is-multiline">
  <div class="about-interest column is-full columns">
    {% assign category = site.data.categories | where: 'name', 'science' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
      url=category.image
      title=category.title %}
    </div>
    <div class="about-text column is-half is-flex is-direction-column content">
      <p>
        C’est un peu fou, mais c’est justement parce que je n’ai pas de vrai background scientifique et
        technique que ces questions m’intéressent tant. Désespérée de ne pas comprendre comment
        fonctionne mon smartphone ou les secrets de l’infiniment petit, j’ai voulu questionner le monde qui
        m’entoure pour ne plus avoir à subir ce sentiment d’être « dépassée par la technologie ». Cela
        explique pourquoi je suis très sensible à des thématiques comme les relations homme-machine, la
        médiation de culture scientifique, l’appropriation des techniques par les citoyens et leur participation au
        débat sur ces enjeux. Aujourd’hui, avec mon profil en sciences humaines, <strong>je porte un regard sociologique
          sur les innovations, et me penche sur leurs implications éthiques, politiques et sociales</strong>.
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a class="button is-primary" href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
  <div class="about-interest column is-full columns is-reversed-tablet">
    {% assign category = site.data.categories | where: 'name', 'environnement' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
      url=category.image
      title=category.title
      text_align='left' %}
    </div>
    <div class="about-text column is-half is-flex is-direction-column content">
      <p>
        Voilà un bien large sujet qui me tient à cœur ! Écolo dans l’âme, je m’intéresse surtout aux <strong>initiatives
          individuelles et locales</strong>, en menant des interview d'acteurs engagés dans ma ville. Je
        suis surtout de près l’actualité des acteurs de l’économie sociale et solidaire, qui recèle selon moi un
        important potentiel de changement vers une économie plus locale et centrée sur le bien-être.
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a class="button is-primary" href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
  <div class="about-interest column is-full columns">
    {% assign category = site.data.categories | where: 'name', 'mode' | first %}
    <div class="about-image column is-half is-paddingless">
      {% include image_with_overlay_title.html
      url=category.image
      title=category.title %}
    </div>
    <div class="about-text column is-half is-flex is-direction-column content">
      <p>
        Mon penchant pour les tech et l’écologie ne m’a pas empêchée de nourrir une passion pour les arts,
        la mode et la culture. Je souhaite mettre fin à cette idée reçue selon laquelle la mode ne serait que le
        panache de personnes vaniteuses et légères d’esprit ! Cependant, je penche pour une autre mode,
        moins dominée par les codes américains et plus respectueuse de l’environnement. Je suis cofondatrice
        du blog de mode vintage et alternative <a href="http://jamandjones.com/" target="_blank">Jam&amp;Jones</a> et de
        la communauté de blogueurs
        <a href="https://www.facebook.com/groups/fashionoddity" target="_blank">Fashion Oddity</a>. Je contribue aussi à
        Modelab, média de référence sur la fashiontech, qui explore les
        croisements entre la mode et la technologie. Cette rubrique traitera donc essentiellement de <strong>mode,
          d’art et de culture, mais toujours avec un penchant underground</strong>.
      </p>
      {% if site.categories[category.name] %}
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a class="button is-primary" href="{{ category_page.url }}">Voir ce que j'ai écrit sur ce sujet</a>
      {% endif %}
    </div>
  </div>
</div>