---
title: Le Blog
nav: blog
order: 1
---

<div class="blog-headline">
  <h1 class="title is-size-2">Bienvenue dans mon boudoir numérique</h1>
</div>

<div class="blog-categories">
  {% for category in site.data.categories %}
  <div class="blog-category">
    <div class="blog-category__title">
      <h1 class="title is-size-3">{{ category.title }}</h1>
    </div>
    <div class="columns is-vcentered is-gapless">
      <div class="column is-one-third">
        {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
        <a href="{{ category_page.url }}">
          <figure class="image">
            <img data-src="{{ category.image }}" alt="{{ category.title }}">
          </figure>
        </a>
      </div>
      {% assign posts = site.categories[category.name] %}
      <div class="column blog-category__latest">
        <div class="columns is-mobile is-multiline">
        {% if posts %}
        {% for post in posts limit:3 %}
          <div class="blog-category__preview column is-half-mobile is-one-third-tablet">
            {% include post_preview.html %}
          </div>
        {% endfor %}
        {% else %}
          <div class="column is-full has-text-centered">
              Pas encore d'articles :hushed:
          </div>
        {% endif %}
        </div>
      </div>
      {% if posts %}
      <div class="blog-category__more column is-narrow">
        <a class="button is-primary" href="{{ category_page.url }}">Voir plus</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="blog-latest">
  <div class="blog-latest__title">
    <h1 class="title is-size-3">Derniers articles, toutes catégories</h1>
  </div>
  <div class="columns is-multiline">
  {% for post in site.posts %}
    <div class="column is-one-quarter">
      {% include post_preview.html %}
    </div>
  {% endfor %}
  </div>
</div>
