---
title: Le Blog
nav: blog
order: 1
---

<div class="about-headline content">
  <h1>Bonjour, moi c’est {{ site.author }}, rédactrice web freelance à Grenoble !</h1>

  <p><strong><em>On dit de moi que je suis curieuse, créative et polyvalente. Une chose est sûre : j’adore les
  nouveaux défis. Aujourd’hui je décide de lancer mon entreprise de rédaction web et réseaux
  sociaux freelance pour vivre de ma passion et faire de belles rencontres.</em></strong></p>
</div>

<div class="blog-categories">
  <h1>Derniers articles, par catégorie</h1>
  {% for category in site.data.categories %}
  <div class="columns is-vcentered">
    <div class="column is-one-third">
      {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
      <a href="{{ category_page.url }}">
        <figure class="image">
          <img src="{{ category.image }}" alt="{{ category.title }}">
        </figure>
        <h1>{{ category.title }}</h1>
      </a>
    </div>
    <div class="column is-two-third">
      <div class="columns is-mobile">
      {% assign posts = site.categories[category.name] %}
      {% if posts %}
      {% for post in posts limit:3 %}
        <div class="blog-categories__preview column is-one-third">
          {% include post_preview.html show_excerpt=true %}
        </div>
      {% endfor %}
      {% else %}
        <div class="column is-full has-text-centered">
            Pas encore d'articles :hushed:
        </div>
      {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="blog-latest">
  <h1>Derniers articles, toutes catégories</h1>
  <div class="columns is-multiline">
  {% for post in site.posts %}
    <div class="column is-one-quarter">
      {% include post_preview.html %}
    </div>
  {% endfor %}
  </div>
</div>
