---
layout: default
---

<div class="cm-portrait">
  <figure class="image">
    <img src="{{ '/assets/images/carnet.jpg' | relative_url }}" alt="{{ page.title }}">
  </figure>
</div>

<div class="post-main columns">
  <main class="post-article column is-three-quarter" aria-label="Article">
    <div class="article-head">
      <div class="article-title">
        <h1 class="title">{{ page.title }}</h1>
      </div>
      <div class="article-date">
        <em>{{ page.date | date: "%d/%m/%Y" }}</em>
      </div>
    </div>
    <div class="article-body content">
      {{ content }}
    </div>
    {% if page.tags %}
    <div class="article-tags">
      <div class="tags">
        {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="ssk-group ssk-lg ssk-count">
      <a href="" data-network="facebook" class="ssk ssk-facebook"></a>
      <a href="" data-network="twitter" class="ssk ssk-twitter"></a>
      <a href="" data-network="google-plus" class="ssk ssk-google-plus"></a>
      <a href="" data-network="linkedin" class="ssk ssk-linkedin"></a>
    </div>
    <script type="text/javascript">
      $(function () {
        $('.ssk-group').socialLinks();
      });
    </script>
    {% if page.comments %}
    <div class="article-comments">
      {% include disqus.html %}
    </div>
    {% endif %}
  </main>
  <div class="post-sidebar column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        Categories
      </p>
      <ul class="menu-list">
        {% for category in site.data.categories %}
        {% assign category_page = site.custom_categories | where: 'category', category.name | first %}
        <li><a href="{{ category_page.url }}" class="{% if category.name == page.category %}is-active{% endif %}">{{ category.title }}</a></li>
        {% endfor %}
      </ul>
      <p class="menu-label">
        Related articles
      </p>
      <ul class="menu-list">
        {% for post in site.posts limit:3 %}
        <li>{% include post_preview.html show_excerpt=false %}</li>
        {% endfor %}
      </ul>
    </aside>
  </div>
</div>
