---
layout: default
---

<main aria-label="Article">
  <div class="article-head">
    <div class="title article-title">
      {{ page.title }}
    </div>
    {% assign author = page.author | default: site.author %}
    <div class="article-author">
      <em>by {{ author }}</em>
    </div>
    <div class="article-date">
      <em>{{ page.date | date: "%d/%m/%Y" }}</em>
    </div>
    <div class="article-tags">
      <div class="tags">
        <span class="tag">Tag label</span>
        <span class="tag">Tag label</span>
        <span class="tag">Tag label</span>
      </div>
    </div>
  </div>
  <div class="article-body content">
    {{ content }}
  </div>
  <div class="ssk-group ssk-lg ssk-count">
    <a href="" class="ssk ssk-facebook"></a>
    <a href="" class="ssk ssk-twitter"></a>
    <a href="" class="ssk ssk-google-plus"></a>
    <a href="" class="ssk ssk-linkedin"></a>
  </div>
  <script type="text/javascript">
    SocialShareKit.init();
  </script>
</main>
